.home{
    background-color: #393646;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #FFC4C4;
    font-family: 'Poppins', sans-serif;
}

.row{
    text-align: center;
    margin-top: 5% ;
}

.display{
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.display-key{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #4F4557;
}

.heading-key{
    font-size: 5rem;
    font-weight: 900;
}

.bigHeading {
    font-size: 3.5rem;
    margin: 0px auto;
    margin-block-end: 5%;
    width: max-content;
    position: relative;
    letter-spacing: 0.25rem;
    color: #393646;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  
  @keyframes animate-text {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
      width: 100%;
    }
  }
  
  #userInput{
    width: 60vw;
    height: 20vh;
    background-color: #393646;
    border-style:solid;
    border-radius: 10px;
    color: #F6F1F1;
    font-size: 2rem;
  }

  #userInput:active,#userInput:focus{
    border-color:#FFD93D;
    outline: skyblue;
    color: #FFD93D;
    font-size: 2rem;
  }

  .headingSmall{
    margin: 4%;
    font-size: 1.5rem;
    font-weight: 900;
    /* color: #393646; */
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width: 768px) {
    .bigHeading {
      font-size: 0.75rem;
    }
  }
  
  .bigHeading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #FFC4C4;
    -webkit-text-stroke: 0vw #FFC4C4;
    border-right: 2px solid #FFC4C4;
    overflow: hidden;
    animation: animate-text 6s linear infinite;
    font-family: 'Montserrat', sans-serif;
  }

  .headingBig{
    font-size: 3.5rem;
    margin: 0px auto;
    margin-block-end: 5%;
    width: max-content;
    position: relative;
    letter-spacing: 0.25rem;
    color: #FFC4C4;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
  }

  .resultImg{
    width: 10vw;
  }

  .resultBox{
    padding-top: 3%;
    width: 70%;
    margin: 0 auto;
  }

  .resultTxt{
    font-size: 2rem;
  }

  .iconFoo{
    margin: 10px;
    margin-bottom: 0;
    width: 30px;
}

.footerP{
    margin-right: 2%;
}

.Footer{
    margin-top: 12%;
}